.mainBlock3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.911);
    height: 75px;
    background-color: black;
}
.mainBlock3 ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    color: green;
}
img{
    height: 70px;
    width: 150px;
}